.btn {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
}
.btn--load_more {
  width: 100%;
  background-color: #D3CCE3;
  font-size: 1.6rem;
  font-weight: bold;
}